.groupName{
    text-align: left;
    font-size: 1.2em;
}

.groupDescription{
    position: relative;
    text-align: center;
}

.subscribeButtonDiv{
    text-align: right;
}

.subscribeButton{
    width: 150px;
    min-width: 150px;
    height: 40px;
    min-height: 40px;
}

.backButton{
    position: absolute;

}

#descriptionField, #nameField{
    max-width: 90%;
    width: 90%;
}

