.profilePicture{
    max-width: min(90%,200px);
    min-width: min(90%,200px);
    border: 3px gray groove;
    box-shadow: #18173844 4px 4px 10px;
    border-radius: 15%;
}

.imageFieldAlign{
    display: inline-block;
    width: 25%;
}

.buttonFieldAlign{
    max-width: max(100%,300px);
}

.inputFieldSingleLine{
    width: 49%;
    min-height: 28px;
    max-height: 28px;
    resize: none;
}

.inputFieldMultiLine{
    width: 98%;
    min-height: 84px;
    max-height: 252px;
}

.profileBody{
    width: 50%;
    display: inline-block;
}

textarea:valid{
    /*background-color: #C4FFC4;*/
}

textarea:invalid{
    background-color: #FF8484;
}

/*.groupItemObj{*/
/*    width: 60%;*/
/*}*/
