#curtain{
    position: sticky;
    top: 0;
    z-index: 2;
    background: #E4E9F7;
}


#list{
    background: #E4E9F7;
}

#textarea{
    min-height: 100px;
    max-width: 45%;
    resize: none;
    max-height: 300px;
}

#preview{
    min-height: 100px;
    white-space: pre-line;
    display: block;
    max-width: 45%;
    min-width: 45%;
    max-height: 300px;
    overflow: scroll;
    background-color: white;
}
